_CHROOTS_CMD="ls -1d /home/www/*/chroot"
_SYSTEMD_UNIT_DIR="/etc/systemd/system"
_BIND="\
	/usr/share/zoneinfo \
	/dev/urandom \
	/dev/zero \
	/dev/null \
	/etc/resolv.conf \
	/lib/x86_64-linux-gnu/libnss_dns.so.2 \
	/usr/share/ca-certificates \
	/etc/ssl/certs"
_BIND_LOCAL="../bind.conf"
